@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


:root[data-theme='light'] {
    --page-bg: #fff;
    --muted-text: #B1B0B5;
    --switch-bg: #eee;
    --switch-circle-bg: #FFD371;
    --switch-circel-pos: 0.13rem;
    --icon-sun: #997F44;
    --icon-moon: var(--muted-text);
    --hover-color: #298db0;
}

:root[data-theme='dark'] {
    --page-bg: #000;
    --muted-text: #77757E;
    --switch-bg: #2D2C35;
    --switch-circle-bg: #7190FF;
    --switch-circel-pos: 52px;
    --icon-sun: var(--muted-text);
    --icon-moon: #DCE3FF;
    --hover-color: #6485a9;
}
:root {
    --default-border-radius: 8px;
    --default-transition : color .3s ease-in-out , background-color .3s ease-in-out, border-color .3s ease-in-out , fill .3s ease-in-out , transform .3s ease-in-out
}

.navbar {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: transparent;
    padding: 15px 7%;
    transition: 0.6s;
}

.logo{
    height: 70px;
    cursor: pointer;
    transition: 0.8s;
    margin-right: 150px;
    border-radius: 400px;
}
ul{
    display: flex; 
    justify-content: flex-end;
    flex: 1;
    list-style: none;
    text-align: center;

}

ul button {
    font-family: "Tajawal";
    color: white;
    margin: 10px 24px;
    font-size: 16px;
    background-color: #4581e2/*b9bd32*/;
    border-color: #4581e2;
    border-radius: 5px;
    padding: 10px 33px;
    border: none;
    transition:background-color 0.5s ease, border 0.5s ease;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
} 

ul button:hover,
ul button:focus
 {
    background-color: transparent;
    transition: .7s;
    color: var(--hover-color);

}

ul button:hover::before,
ul button:focus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid /*#bd9e32*/#4581e2;
    border-radius: 5px;
    transition: border-color 0.3s ease; /* Add transition property for border */
    pointer-events: none; /* Ensure this pseudo-element doesn't interfere with mouse events */
    font-family: "Tajawal";
}

a {
    cursor: default;
}

#theme-switcher {
    background-color: var(--switch-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1.63rem;
    cursor: pointer;
    /* padding: .66rem; */
    height: 41px;
    width: 90px;
    position: relative;
    transition: var(--default-transition);
}

#theme-switcher::before {
    content: '';
    position: absolute;
    width: 2.22em;
    height: 2.22em;
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-circel-pos));
    transition: var(--default-transition);
}

#theme-switcher svg{
    z-index: 1;
    margin-left: 8px;
}

#icon-sun {
    fill: var(--icon-sun);
    height: 21px;
}

#icon-moon {
    fill: var(--icon-moon);
    height: 22px;
}



