@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root[data-theme='light'] {
    --primary-color : black;
    --page-bg: #f2f2f2;
    --muted-text: #B1B0B5;
    --switch-bg: #eee;
    --switch-circle-bg: #FFD371;
    --switch-circel-pos: 0.13rem;
    --icon-sun: #997F44;
    --icon-moon: var(--muted-text);
    --hover-color: #298db0;
    --text-nav:#000;
}

:root[data-theme='dark'] {
    --primary-color: white;
    --page-bg: #000;
    --muted-text: #77757E;
    --switch-bg: #2D2C35;
    --switch-circle-bg: #7190FF;
    --switch-circel-pos: 52px;
    --icon-sun: var(--muted-text);
    --icon-moon: #DCE3FF;
    --hover-color: #6485a9;
    --text-nav: #fff;
}
:root {
    --default-border-radius: 8px;
    --default-transition : color .3s ease-in-out , background-color .3s ease-in-out, border-color .3s ease-in-out , fill .3s ease-in-out , transform .3s ease-in-out
}

body {
    background-color: #f2f2f2;
  }

.navbar {
    position: -webkit-sticky; /* For Safari معرفش ليه */
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    height: 0px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: 0.6s;
    padding: 65px 20px;
}

.navbar.scrolled {
    background-color: #f2f2f2;
    padding: 65px 20px;
}
.logo { 
    background-color: transparent;
    height: 85px;   
    margin-left: 130px;
    margin-top: 20px;
    border-radius: 53px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.signin {
    font-family: "Cairo";
    padding: 8px 15px;
    border-radius: 6px;
    color: var(--primary-color);
    transition: .3s ease-in-out;
    margin-left: -250px;
}

.signin.authenticated {
  margin-left : 0;
}

.signin.scrolled {
    color: var(--text-nav);
}

:root[data-theme='light'] .signin.scrolled {
    color: black;
}

:root[data-theme='dark'] .signin.scrolled {
    color: black;
}

.signin:hover {
    border-color: #3571ae;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1); ;
}

h1 {
    font-family: "Tajawal";
    font-size: 18px;
    margin-top: 18px;
}

nav {
    margin-top: 18px;
}

#theme-switcher {
    background-color: var(--switch-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1.63rem;
    cursor: pointer;
    height: 41px;
    width: 90px;
    position: relative;
    transition: var(--default-transition);
    transform: translate(-235px);
}

#theme-switcher.authenticated {
  transform: translate(20px);
}

#theme-switcher::before {
    content: '';
    position: absolute;
    width: 2.22em;
    height: 2.22em;
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-circel-pos));
    transition: var(--default-transition);
}

#theme-switcher svg{
    z-index: 1;
    margin-left: 8px;
}

#icon-sun {
    fill: var(--icon-sun);
    height: 21px;
    background-color: transparent;
}

#icon-moon {
    fill: var(--icon-moon);
    background-color: transparent;
    height: 22px;
}

.navbar.with-popup {
    top: 100px; /* Adjust this value based on the height of your popup */
    transition: top 0.3s ease-in-out;
  }

.popup {
    position: fixed;
    border: none;
    border-radius: 4px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fed271;
    padding: 21px 155px;
    z-index: 2000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content {
    text-align: center;
    position: relative;
  }
  
  .popup-content p {
    margin-bottom: 6px;
    font-family: 'Tajawal';
  }
  
  .popup-content button {
    padding: 0px 1px;
    cursor: pointer;
    background: transparent;
    border: none;
    align-content: stretch;
    position: absolute;
    margin-left: 185px;
    margin-top: -24px;
  }

.user-icon {
    border: none;
    cursor: pointer;
    background: transparent;
}

.iconic {
    font-size: 40px;
    margin-left: 50px;
    color: #837829;
    transform: translateX(-60px);
}

.dropdown-menu {
    position: absolute;
    top: calc(70% + 5px);
    right: 60px;
    background-color: #fbfbfb;
    border-radius: 17px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 28px 41px;
    z-index: 10;
    display: none; 
}

.dropdown-menu.show {
    display: block; 

}

.dropdown-menu li {
  list-style-type: none;
  padding: 8px 16px;
}

.dropdown-menu li a {
    color: #333;
    font-size: 18px;
    margin-right: 7px;
}

.dropdown-menu li a:hover {
  color: #555;
}

.dropdown-menu li button {
    background: none;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    color: #333;
    font-family: 'Tajawal';
    font-size: 18px;
}

.dropdown-menu li button:hover {
  color: #555;
}

.dropdown-menu,
.user-icon:focus .dropdown-menu,
.user-icon .dropdown-menu:focus {
  display: block;
  
}
.mana {
    background: #34D3F2;
    height: 1px;
    border: none;
    transform: translateX(10px);
}

.users {
    color: #34d3d3;
    font-size: 23px;
    margin-top: 1px;
    margin-left: 10px;
    position: absolute;
}

.outing {
    color: #34d3d3;
    font-size: 25px;
    margin-top: 1px;
    margin-left: 15px;
    position: absolute;
}
.n {
    list-style-type: none;
    transform: translate(8px, -7px);
}

.dropdown-menu .nn {
    list-style-type: none;
    padding: 11px 16px;
    transform: translateY(6px);
    margin-left: 10px;
}
